body{
 	margin: 0;
	font-family: "Times New Roman";
}
/* Header */
#header .menu{
	text-align: center;
	padding: 1px;
	margin: -5px;
	border:solid 1px;
}

#header .menu h2{
	font-size: 30px;
	margin: 0px;
	background-color: gray;
}

#header .menu h2 a{
	padding: 0px 10px 0px 10px;
	text-decoration:none; 
	color: black;
	text-transform: uppercase;
	margin: 20px;
}


/* Isi */
#isi{
	margin: 0px;
}

#isi .content img{
	margin: 6px;
	text-align: left;
	width: 414px;
	height: 200px;
}

.content3 img{
width: 100%;
	height: 470px;
}

#isi .content h2{
	margin: 1px;
	float: right;
	font-family: Verdana;
	padding-right: 320px;
}

#isi .content p {
	float: right;
	padding-right: : 139px;
	padding-left: 438px;
	margin-top: -168px
}

#isi .content1 img{
	margin: 3px;
	width: 414px;
	height: 200px;
	text-align: left;
}

#isi .content1 h2{
	margin: 1px;
	float: right;
	padding-right: 375px;
	font-family: Verdana;
}

#isi .content1 p{
	float: right;
	padding-right: 139px;
	padding-left: 438px;
	margin-top: -168px
}

/* gallery */
#isi .gallery img{
     border: 4px solid #575D63;
     margin: 20px;
     padding: 10px;
     width: 300px;
     height: 200px;
   }

/* profile */   
#biodata .data{
    float: right;
    padding-top: 45px;
    padding-right: 30px;
}
#biodata .data li{
    padding-bottom: 10px;
}

/* footer */
#footer-bawah{
    margin-bottom: 10px;
    font-family: "Web-Raleway";
    background: #252525;
    color: #fff;
    height: 40px;
    width: auto;
    padding:0;
}

#footer-bawah .copyright{
    float: left;
    padding-top: 12px;
}

#footer-bawah .copyright a{
    text-decoration: none;
color: #ff
}